Repository Kyligence/spark, pull requests merged in 2020-12, with the labels that each got.

#191 KE-19992 s3 read retry before accessing FileStatus properties
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/SpecificParquetRecordReaderBase.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFileFormat.scala
  sql/core/src/main/scala/org/apache/spark/sql/util/S3FileUtils.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveStrategies.scala
Labels: SQL

#195 KE-19958: support SparkExecutorHdfsLogAppender
  core/src/main/scala/org/apache/spark/log4j/LocalFileAppender.java
  core/src/main/scala/org/apache/spark/log4j/SensitivePatternLayout.java
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  pom.xml
Labels: BUILD, CORE

#192 KE-19998, add more metrics to applicationinfo
  core/src/main/scala/org/apache/spark/deploy/JsonProtocol.scala
  core/src/test/scala/org/apache/spark/deploy/DeployTestUtils.scala
  core/src/test/scala/org/apache/spark/deploy/JsonProtocolSuite.scala
Labels: CORE

#198 KE-20353 # avoid cartesian partition oom
  core/src/main/scala/org/apache/spark/rdd/CartesianRDD.scala
Labels: CORE

#199 KE-19837 limit mem usage during collect
  assembly/pom.xml
  common/kvstore/pom.xml
  common/network-common/pom.xml
  common/network-shuffle/pom.xml
  common/network-yarn/pom.xml
  common/sketch/pom.xml
  common/tags/pom.xml
  common/unsafe/pom.xml
  core/pom.xml
  examples/pom.xml
  external/avro/pom.xml
  external/docker-integration-tests/pom.xml
  external/kafka-0-10-assembly/pom.xml
  external/kafka-0-10-sql/pom.xml
  external/kafka-0-10-token-provider/pom.xml
  external/kafka-0-10/pom.xml
  external/kinesis-asl-assembly/pom.xml
  external/kinesis-asl/pom.xml
  external/spark-ganglia-lgpl/pom.xml
  graphx/pom.xml
  hadoop-cloud/pom.xml
  launcher/pom.xml
  mllib-local/pom.xml
  mllib/pom.xml
  pom.xml
  repl/pom.xml
  resource-managers/kubernetes/core/pom.xml
  resource-managers/kubernetes/integration-tests/pom.xml
  resource-managers/mesos/pom.xml
  resource-managers/yarn/pom.xml
  sql/catalyst/pom.xml
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/pom.xml
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/main/scala/org/apache/spark/sql/util/CollectExecutionMemoryUsage.scala
  sql/hive-thriftserver/pom.xml
  sql/hive/pom.xml
  streaming/pom.xml
  tools/pom.xml
Labels: AVRO, BUILD, CORE, DSTREAM, EXAMPLES, GRAPHX, INFRA, KUBERNETES, MESOS, MLLIB, SPARK SHELL, SQL, STRUCTURED STREAMING, YARN

#201 KE-19997: KE-14216 Avoid sparder driver OOM for decoding data
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/java/org/apache/spark/sql/execution/SizeLimitingByteArrayUnsafeRowsConverter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkPlan.scala
Labels: SQL

#200 KE-19990, [spark3] Support skip.header.line.count option in Hive table
  sql/hive/src/main/scala/org/apache/spark/sql/hive/TableReader.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/SQLQuerySuite.scala
Labels: SQL
