Repository Kyligence/spark, pull requests merged in 2022-03, with the labels that each got.

#407 revert KE-33600 Add Parquet Column Name Check Switch
  assembly/pom.xml
  common/kvstore/pom.xml
  common/network-common/pom.xml
  common/network-shuffle/pom.xml
  common/network-yarn/pom.xml
  common/sketch/pom.xml
  common/tags/pom.xml
  common/unsafe/pom.xml
  core/pom.xml
  examples/pom.xml
  external/avro/pom.xml
  external/docker-integration-tests/pom.xml
  external/kafka-0-10-assembly/pom.xml
  external/kafka-0-10-sql/pom.xml
  external/kafka-0-10-token-provider/pom.xml
  external/kafka-0-10/pom.xml
  external/kinesis-asl-assembly/pom.xml
  external/kinesis-asl/pom.xml
  external/spark-ganglia-lgpl/pom.xml
  graphx/pom.xml
  hadoop-cloud/pom.xml
  launcher/pom.xml
  mllib-local/pom.xml
  mllib/pom.xml
  pom.xml
  repl/pom.xml
  resource-managers/kubernetes/core/pom.xml
  resource-managers/kubernetes/integration-tests/pom.xml
  resource-managers/mesos/pom.xml
  resource-managers/yarn/pom.xml
  sql/catalyst/pom.xml
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/pom.xml
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetSchemaConverter.scala
  sql/hive-thriftserver/pom.xml
  sql/hive/pom.xml
  streaming/pom.xml
  tools/pom.xml
Labels: CORE, SQL, BUILD, INFRA, EXAMPLES, SPARK SHELL, AVRO, DSTREAM, GRAPHX, MLLIB, STRUCTURED STREAMING, YARN, MESOS, KUBERNETES

#409 KE-34130 delete log4j-over-sl4j and update version to r55
  assembly/pom.xml
  common/kvstore/pom.xml
  common/network-common/pom.xml
  common/network-shuffle/pom.xml
  common/network-yarn/pom.xml
  common/sketch/pom.xml
  common/tags/pom.xml
  common/unsafe/pom.xml
  core/pom.xml
  examples/pom.xml
  external/avro/pom.xml
  external/docker-integration-tests/pom.xml
  external/kafka-0-10-assembly/pom.xml
  external/kafka-0-10-sql/pom.xml
  external/kafka-0-10-token-provider/pom.xml
  external/kafka-0-10/pom.xml
  external/kinesis-asl-assembly/pom.xml
  external/kinesis-asl/pom.xml
  external/spark-ganglia-lgpl/pom.xml
  graphx/pom.xml
  hadoop-cloud/pom.xml
  launcher/pom.xml
  mllib-local/pom.xml
  mllib/pom.xml
  pom.xml
  repl/pom.xml
  resource-managers/kubernetes/core/pom.xml
  resource-managers/kubernetes/integration-tests/pom.xml
  resource-managers/mesos/pom.xml
  resource-managers/yarn/pom.xml
  sql/catalyst/pom.xml
  sql/core/pom.xml
  sql/hive-thriftserver/pom.xml
  sql/hive/pom.xml
  streaming/pom.xml
  tools/pom.xml
Labels: CORE, SQL, BUILD, INFRA, EXAMPLES, SPARK SHELL, AVRO, DSTREAM, GRAPHX, MLLIB, STRUCTURED STREAMING, YARN, MESOS, KUBERNETES

#424 KE-31638 add parameter in request head to proxy spark ui
  assembly/pom.xml
  common/kvstore/pom.xml
  common/network-common/pom.xml
  common/network-shuffle/pom.xml
  common/network-yarn/pom.xml
  common/sketch/pom.xml
  common/tags/pom.xml
  common/unsafe/pom.xml
  core/pom.xml
  core/src/main/scala/org/apache/spark/ui/UIUtils.scala
  examples/pom.xml
  external/avro/pom.xml
  external/docker-integration-tests/pom.xml
  external/kafka-0-10-assembly/pom.xml
  external/kafka-0-10-sql/pom.xml
  external/kafka-0-10-token-provider/pom.xml
  external/kafka-0-10/pom.xml
  external/kinesis-asl-assembly/pom.xml
  external/kinesis-asl/pom.xml
  external/spark-ganglia-lgpl/pom.xml
  graphx/pom.xml
  hadoop-cloud/pom.xml
  launcher/pom.xml
  mllib-local/pom.xml
  mllib/pom.xml
  pom.xml
  repl/pom.xml
  resource-managers/kubernetes/core/pom.xml
  resource-managers/kubernetes/integration-tests/pom.xml
  resource-managers/mesos/pom.xml
  resource-managers/yarn/pom.xml
  sql/catalyst/pom.xml
  sql/core/pom.xml
  sql/hive-thriftserver/pom.xml
  sql/hive/pom.xml
  streaming/pom.xml
  tools/pom.xml
Labels: CORE, SQL, BUILD, INFRA, EXAMPLES, SPARK SHELL, AVRO, DSTREAM, GRAPHX, MLLIB, STRUCTURED STREAMING, YARN, MESOS, KUBERNETES, WEB UI

#433 AL-5546 upgrade commons-io,mesos,kafka-client,protobuf-java,gson,guava version
  assembly/pom.xml
  common/kvstore/pom.xml
  common/network-common/pom.xml
  common/network-shuffle/pom.xml
  common/network-yarn/pom.xml
  common/sketch/pom.xml
  common/tags/pom.xml
  common/unsafe/pom.xml
  core/pom.xml
  examples/pom.xml
  external/avro/pom.xml
  external/docker-integration-tests/pom.xml
  external/kafka-0-10-assembly/pom.xml
  external/kafka-0-10-sql/pom.xml
  external/kafka-0-10-token-provider/pom.xml
  external/kafka-0-10/pom.xml
  external/kinesis-asl-assembly/pom.xml
  external/kinesis-asl/pom.xml
  external/spark-ganglia-lgpl/pom.xml
  graphx/pom.xml
  hadoop-cloud/pom.xml
  launcher/pom.xml
  mllib-local/pom.xml
  mllib/pom.xml
  pom.xml
  repl/pom.xml
  resource-managers/kubernetes/core/pom.xml
  resource-managers/kubernetes/integration-tests/pom.xml
  resource-managers/mesos/pom.xml
  resource-managers/yarn/pom.xml
  sql/catalyst/pom.xml
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/IntervalExpressionsSuite.scala
  sql/core/pom.xml
  sql/core/src/test/resources/sql-tests/results/ansi/interval.sql.out
  sql/core/src/test/resources/sql-tests/results/interval.sql.out
  sql/hive-thriftserver/pom.xml
  sql/hive/pom.xml
  streaming/pom.xml
  tools/pom.xml
Labels: CORE, SQL, BUILD, INFRA, EXAMPLES, SPARK SHELL, AVRO, DSTREAM, GRAPHX, MLLIB, STRUCTURED STREAMING, YARN, MESOS, KUBERNETES

#432 KE-31356 fix event log ut
  core/src/main/scala/org/apache/spark/deploy/history/EventLogFileCompactor.scala
  core/src/main/scala/org/apache/spark/deploy/history/EventLogFileWriters.scala
  core/src/test/scala/org/apache/spark/deploy/history/EventLogFileCompactorSuite.scala
  core/src/test/scala/org/apache/spark/deploy/history/EventLogFileReadersSuite.scala
  core/src/test/scala/org/apache/spark/deploy/history/EventLogFileWritersSuite.scala
  core/src/test/scala/org/apache/spark/deploy/history/FsHistoryProviderSuite.scala
Labels: CORE

#437 KE-31356 minor change shuffleSuite
  core/src/test/scala/org/apache/spark/ExternalShuffleServiceSuite.scala
  core/src/test/scala/org/apache/spark/ShuffleNettySuite.scala
  core/src/test/scala/org/apache/spark/ShuffleOldFetchProtocolSuite.scala
  core/src/test/scala/org/apache/spark/ShuffleSuite.scala
  core/src/test/scala/org/apache/spark/SortShuffleSuite.scala
Labels: CORE
