Repository Kyligence/spark, pull requests merged in 2022-11, with the labels that each got.

#553 kyspark-3.2.x-4.x-qa cherrypick into kyspark-3.2.x-4.x
  pom.xml
Labels: BUILD

#554 [SPARK-40211][CORE][SQL] Allow customize initial partitions number in…
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/main/scala/org/apache/spark/rdd/AsyncRDDActions.scala
  core/src/main/scala/org/apache/spark/rdd/RDD.scala
  core/src/test/scala/org/apache/spark/rdd/RDDSuite.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkPlan.scala
  sql/core/src/test/scala/org/apache/spark/sql/ConfigBehaviorSuite.scala
Labels: CORE, SQL

#555 KE-39980 configMap Binds the KE pod
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackend.scala
Labels: KUBERNETES

#557 KE-40102 fix snyk vulnerabilities, upgrade ivy from 2.5.0 ro 2.5.1
  pom.xml
Labels: BUILD

#565 Revert "[SPARK-37600][BUILD] Upgrade to Hadoop 3.3.2"
  LICENSE-binary
  NOTICE-binary
  core/src/main/java/org/apache/hadoop/shaded/net/jpountz/lz4/LZ4Compressor.java
  core/src/main/java/org/apache/hadoop/shaded/net/jpountz/lz4/LZ4Factory.java
  core/src/main/java/org/apache/hadoop/shaded/net/jpountz/lz4/LZ4SafeDecompressor.java
  dev/deps/spark-deps-hadoop-3-hive-2.3
  hadoop-cloud/pom.xml
  licenses/LICENSE-jdom.txt
  pom.xml
  project/MimaExcludes.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/IsolatedClientLoader.scala
Labels: CORE, SQL, BUILD

#559 KE-40007 Fix vulnerability, upgrade jackson-databind
  pom.xml
Labels: BUILD

#561 [SPARK-40320][Core] Executor should exit when initialization failed for fatal error
  core/src/main/scala/org/apache/spark/rpc/netty/MessageLoop.scala
  core/src/test/scala/org/apache/spark/executor/CoarseGrainedExecutorBackendSuite.scala
Labels: CORE

#567 KE-40007 Fix vulnerability, upgrade jackson-databind
  pom.xml
Labels: BUILD

#568 KE-40047 fix snyk vulnerabilities, upgrade ivy from 2.5.0 to 2.5.1
  pom.xml
Labels: BUILD

#566 AL-4757 when refresh InMemoryFileIndex, can recursiveDirChildrenFiles
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/InMemoryFileIndex.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/FileIndexSuite.scala
Labels: SQL

#571 KE-40102 fix snyk vulnerabilities, upgrade ivy from 2.5.0 to 2.5.1
  pom.xml
Labels: BUILD
