Repository Kyligence/spark, pull requests merged in 2022-08, with the labels that each got.

#508 KE-36175 update private token
  core/src/main/scala/org/apache/spark/deploy/SparkHadoopUtil.scala
Labels: CORE

#510 minor fix dockerfile java version and host user
  resource-managers/kubernetes/docker/src/main/dockerfiles/spark/Dockerfile
Labels: KUBERNETES

#513 KE-36175 update private token
  core/src/main/scala/org/apache/spark/deploy/SparkHadoopUtil.scala
Labels: CORE

#514 KE-36175 [FOLLOWUP] fix hadoop 2.7.4 not compatible
  core/src/main/scala/org/apache/spark/deploy/SparkHadoopUtil.scala
Labels: CORE

#515 KE-36175 [FOLLOWUP] fix hadoop 2.7.4 not compatible
  core/src/main/scala/org/apache/spark/deploy/SparkHadoopUtil.scala
Labels: CORE

#516 AL-6643 Fix security problem
  sql/hive/pom.xml
Labels: SQL, BUILD

#517 add hadoop version hadoop-2.10
  pom.xml
Labels: BUILD

#518 minor fix hadoop-2.10 package
  resource-managers/yarn/pom.xml
  sql/core/pom.xml
Labels: SQL, BUILD, YARN

#521 KE-36175 [FOLLOWUP] fix read-write separation mode
  core/src/main/scala/org/apache/spark/deploy/SparkHadoopUtil.scala
Labels: CORE

#520 KE-36175 [FOLLOWUP] fix read-write separation mode
  core/src/main/scala/org/apache/spark/deploy/SparkHadoopUtil.scala
Labels: CORE

#524 KE-38231 Revert upgrade guava
  pom.xml
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/IntervalExpressionsSuite.scala
  sql/core/src/test/resources/sql-tests/results/ansi/interval.sql.out
  sql/core/src/test/resources/sql-tests/results/interval.sql.out
Labels: SQL, BUILD

#525 [SPARK-39819][SQL] DS V2 aggregate push down can work with Top N or Paging (Sort with expressions)
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/Cast.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/Extract.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/GeneralScalarExpression.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/util/V2ExpressionSQLBuilder.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/CostBasedJoinReorder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/planning/patterns.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/ExtractPredicatesWithinOutputSetSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/BinaryComparisonSimplificationSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/BooleanSimplificationSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/EliminateSubqueryAliasesSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/PushFoldableIntoBranchesSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/RemoveRedundantAliasAndProjectSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/SimplifyConditionalSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/util/V2ExpressionBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/OptimizeMetadataOnlyQuery.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkStrategies.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/LogicalQueryStageStrategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSourceStrategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/PruneFileSourcePartitions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/PushDownUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2ScanRelationPushDown.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/dynamicpruning/PlanDynamicPruningFilters.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ExtractPythonUDFs.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/H2Dialect.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/FileSourceStrategySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2StrategySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/sources/SimpleTextHadoopFsRelationSuite.scala
Labels: SQL, PYTHON

#526 KE-36175 [FOLLOWUP] fix read-write separation mode when application r…
  core/src/main/scala/org/apache/spark/deploy/SparkHadoopUtil.scala
Labels: CORE

#527 KE-36175 [FOLLOWUP] fix read-write separation mode when application r…
  core/src/main/scala/org/apache/spark/deploy/SparkHadoopUtil.scala
Labels: CORE

#528 KY-895 Spark driver pod cleanup when application is completed
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/Config.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/submit/KubernetesClientApplication.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/submit/LoggingPodStatusWatcher.scala
Labels: KUBERNETES

#530 merge ke-4.5.17-sp1 to trunk
  core/src/main/scala/org/apache/spark/deploy/SparkHadoopUtil.scala
Labels: CORE

#507 KE-38192 Avoid using bash -c in ShellBasedGroupsMappingProvider
  core/src/main/scala/org/apache/spark/security/ShellBasedGroupsMappingProvider.scala
Labels: CORE
