Repository Kyligence/spark, pull requests merged in 2022-10, with the labels that each got.

#543 kyspark-3.2.x-4.x-qa cherrypick into kyspark-3.2.x-4.x
  common/sketch/src/main/java/org/apache/spark/util/sketch/BloomFilter.java
  common/sketch/src/main/java/org/apache/spark/util/sketch/BloomFilterImpl.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/BloomAndRangeFilterExpression.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/BloomFilterMightContain.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/BloomRuntimeFilterHelper.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/BloomFilterAggregate.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/objects/objects.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/predicates.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/regexpExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/InjectRuntimeFilter.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreePatterns.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/DecimalType.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/types/DataTypeWriteCompatibilitySuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkOptimizer.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/dynamicpruning/PartitionPruning.scala
  sql/core/src/test/scala/org/apache/spark/sql/BloomFilterAggregateQuerySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/InjectRuntimeFilterSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2StrategySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
  sql/core/src/test/scala/org/apache/spark/sql/sources/InsertSuite.scala
Labels: SQL

#549 KE-39406 Due to a security breach, upgrade commons-text from 1.9 to 1.10.0
  pom.xml
Labels: BUILD

#550 KE-39406 Due to a security breach, upgrade commons-text from 1.9 to 1.10.0
  pom.xml
Labels: BUILD

#552 KE-39371 upgrade commons-text from 1.6 to 1.10.0
  assembly/pom.xml
  common/kvstore/pom.xml
  common/network-common/pom.xml
  common/network-shuffle/pom.xml
  common/network-yarn/pom.xml
  common/sketch/pom.xml
  common/tags/pom.xml
  common/unsafe/pom.xml
  core/pom.xml
  examples/pom.xml
  external/avro/pom.xml
  external/docker-integration-tests/pom.xml
  external/kafka-0-10-assembly/pom.xml
  external/kafka-0-10-sql/pom.xml
  external/kafka-0-10-token-provider/pom.xml
  external/kafka-0-10/pom.xml
  external/kinesis-asl-assembly/pom.xml
  external/kinesis-asl/pom.xml
  external/spark-ganglia-lgpl/pom.xml
  graphx/pom.xml
  hadoop-cloud/pom.xml
  launcher/pom.xml
  mllib-local/pom.xml
  mllib/pom.xml
  pom.xml
  repl/pom.xml
  resource-managers/kubernetes/core/pom.xml
  resource-managers/kubernetes/integration-tests/pom.xml
  resource-managers/mesos/pom.xml
  resource-managers/yarn/pom.xml
  sql/catalyst/pom.xml
  sql/core/pom.xml
  sql/hive-thriftserver/pom.xml
  sql/hive/pom.xml
  streaming/pom.xml
  tools/pom.xml
Labels: CORE, SQL, BUILD, INFRA, EXAMPLES, SPARK SHELL, AVRO, DSTREAM, GRAPHX, MLLIB, STRUCTURED STREAMING, YARN, MESOS, KUBERNETES
