Repository Kyligence/spark, pull requests merged in 2023-09, with the labels that each got.

#671 KE-42576 upgrade ivy version to 2.5.2 for security
  pom.xml
Labels: BUILD

#673 KE-42576 fix ivy ut
  core/src/test/scala/org/apache/spark/LocalSparkContext.scala
  core/src/test/scala/org/apache/spark/SparkFunSuite.scala
  core/src/test/scala/org/apache/spark/deploy/SparkSubmitSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/PlannerSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/test/SharedSparkSession.scala
Labels: CORE, SQL

#674 KE-42644 Use spark parent property of commons-pool2 version
  assembly/pom.xml
  common/kvstore/pom.xml
  common/network-common/pom.xml
  common/network-shuffle/pom.xml
  common/network-yarn/pom.xml
  common/sketch/pom.xml
  common/tags/pom.xml
  common/unsafe/pom.xml
  core/pom.xml
  examples/pom.xml
  external/avro/pom.xml
  external/docker-integration-tests/pom.xml
  external/kafka-0-10-assembly/pom.xml
  external/kafka-0-10-sql/pom.xml
  external/kafka-0-10-token-provider/pom.xml
  external/kafka-0-10/pom.xml
  external/kinesis-asl-assembly/pom.xml
  external/kinesis-asl/pom.xml
  external/spark-ganglia-lgpl/pom.xml
  graphx/pom.xml
  hadoop-cloud/pom.xml
  launcher/pom.xml
  mllib-local/pom.xml
  mllib/pom.xml
  pom.xml
  repl/pom.xml
  resource-managers/kubernetes/core/pom.xml
  resource-managers/kubernetes/integration-tests/pom.xml
  resource-managers/mesos/pom.xml
  resource-managers/yarn/pom.xml
  sql/catalyst/pom.xml
  sql/core/pom.xml
  sql/hive-thriftserver/pom.xml
  sql/hive/pom.xml
  streaming/pom.xml
  tools/pom.xml
Labels: CORE, SQL, BUILD, INFRA, EXAMPLES, SPARK SHELL, AVRO, DSTREAM, GRAPHX, MLLIB, STRUCTURED STREAMING, YARN, MESOS, KUBERNETES

#676 AL-8879 Fixed bug where the new executor gets expired tokens when the…
  core/src/main/scala/org/apache/spark/executor/CoarseGrainedExecutorBackend.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedClusterMessage.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedSchedulerBackend.scala
Labels: CORE

#681 AL-8879 Cheery-pick for release ke-4.6.16.0 GA
  core/src/main/scala/org/apache/spark/executor/CoarseGrainedExecutorBackend.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedClusterMessage.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedSchedulerBackend.scala
Labels: CORE
