Repository Kyligence/spark, pull requests merged in 2023-04, with the labels that each got.

#612 KE-41667 CDP 7.1 support hive client 3.1
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/operation/HiveCommandOperation.java
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/SparkSQLCLIDriver.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveUtils.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveClientImpl.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/IsolatedClientLoader.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/IsolatedClientLoaderTest.scala
Labels: SQL, BUILD

#614 KE-41667 [FOLLOW UP] fix error
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/operation/HiveCommandOperation.java
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/SparkSQLCLIDriver.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveUtils.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveClientImpl.scala
Labels: SQL

#610 AL-8127 fix snyk, upgrade tomcat-embed-core from 9.0.63 to 9.0.72
  pom.xml
Labels: BUILD

#609 AL-8127 fix snyk, upgrade tomcat-embed-core from 9.0.68 to 9.0.72
  pom.xml
Labels: BUILD

#616 cherry-pick 3.3 commits
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/Config.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/submit/KubernetesClientApplication.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/submit/LoggingPodStatusWatcher.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackend.scala
  resource-managers/kubernetes/docker/src/main/dockerfiles/spark/Dockerfile
Labels: KUBERNETES

#617 Ke 4.6.8.0 newten cherrypick
  pom.xml
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/operation/HiveCommandOperation.java
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/SparkSQLCLIDriver.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveClientImpl.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/IsolatedClientLoader.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/IsolatedClientLoaderTest.scala
Labels: SQL, BUILD

#619 KE-40433 add page index filter log
  core/src/main/scala/org/apache/spark/InternalAccumulator.scala
  core/src/main/scala/org/apache/spark/executor/InputMetrics.scala
  core/src/main/scala/org/apache/spark/executor/TaskMetrics.scala
  pom.xml
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/VectorizedParquetRecordReader.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/RecordReaderIterator.scala
Labels: CORE, SQL, BUILD
