Repository Kyligence/spark, pull requests merged in 2023-02, with the labels that each got.

#562 SP-35241 Reduce the output partition of output stage to avoid produci…
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AdaptiveSparkPlanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/CoalesceShufflePartitions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSourceStrategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/BaseSessionStateBuilder.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveSessionStateBuilder.scala
Labels: SQL

#585 SP-35241 Reduce the output partition of output stage to avoid produci…
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AdaptiveSparkPlanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/CoalesceShufflePartitions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSourceStrategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/BaseSessionStateBuilder.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveSessionStateBuilder.scala
Labels: SQL

#588 fix style
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSourceStrategy.scala
Labels: SQL

#590 Revert "SP-35241 Reduce the output partition of output stage to avoid produci…"
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AdaptiveSparkPlanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/CoalesceShufflePartitions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSourceStrategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/BaseSessionStateBuilder.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveSessionStateBuilder.scala
Labels: SQL

#589 Revert "SP-35241 Reduce the output partition of output stage to avoid small files"
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AdaptiveSparkPlanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/CoalesceShufflePartitions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSourceStrategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/BaseSessionStateBuilder.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveSessionStateBuilder.scala
Labels: SQL

#591 Revert "Revert "[SPARK-37600][BUILD] Upgrade to Hadoop 3.3.2""
  LICENSE-binary
  NOTICE-binary
  core/src/main/java/org/apache/hadoop/shaded/net/jpountz/lz4/LZ4Compressor.java
  core/src/main/java/org/apache/hadoop/shaded/net/jpountz/lz4/LZ4Factory.java
  core/src/main/java/org/apache/hadoop/shaded/net/jpountz/lz4/LZ4SafeDecompressor.java
  core/src/test/scala/org/apache/spark/FileSuite.scala
  dev/deps/spark-deps-hadoop-3-hive-2.3
  hadoop-cloud/pom.xml
  licenses/LICENSE-jdom.txt
  pom.xml
  project/MimaExcludes.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/IsolatedClientLoader.scala
Labels: CORE, SQL, BUILD

#594 KE-35241 Reduce the output partition of output stage to avoid produci…
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AdaptiveSparkPlanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/CoalesceShufflePartitions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSourceStrategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/BaseSessionStateBuilder.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveSessionStateBuilder.scala
Labels: SQL

#598 adaptive yinglong image
  bin/docker-image-tool.sh
  resource-managers/kubernetes/docker/src/main/dockerfiles/spark/Dockerfile
  resource-managers/kubernetes/docker/src/main/dockerfiles/spark/Dockerfile.java17
Labels: BUILD, KUBERNETES

#593 KE-35241 Reduce the output partition of output stage to avoid produci…
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AdaptiveSparkPlanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/CoalesceShufflePartitions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSourceStrategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/BaseSessionStateBuilder.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveSessionStateBuilder.scala
Labels: SQL
