Repository Kyligence/spark, pull requests merged in 2023-05, with the labels that each got.

#624 KE-40433 add page index filter log (#619)
  core/src/main/scala/org/apache/spark/InternalAccumulator.scala
  core/src/main/scala/org/apache/spark/executor/InputMetrics.scala
  core/src/main/scala/org/apache/spark/executor/TaskMetrics.scala
  pom.xml
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/VectorizedParquetRecordReader.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/RecordReaderIterator.scala
Labels: CORE, SQL, BUILD

#623 KE-41399 spark-42388 Avoid parquet footer reads twice in vectorized reader
  pom.xml
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/ParquetFooterReader.java
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/SpecificParquetRecordReaderBase.java
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/VectorizedParquetRecordReader.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFileFormat.scala
Labels: CORE, SQL, BUILD

#627 AL-7861 simplify conditionals in filter in case of large CaseWhen expr
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/predicates.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/SimplifyConditionalsInFilter.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/PushFoldableIntoBranchesSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/SimplifyConditionalsInFilterSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkOptimizer.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/WholeStageCodegenExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/basicPhysicalOperators.scala
Labels: SQL

#629 KE-41399 spark-42388 Avoid parquet footer reads twice in vectorized …
  pom.xml
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/ParquetFooterReader.java
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/SpecificParquetRecordReaderBase.java
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/VectorizedParquetRecordReader.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFileFormat.scala
Labels: SQL, BUILD
