Repository Kyligence/spark, pull requests merged in 2023-06, with the labels that each got.

#628 AL-7861 simplify conditionals in filter in case of large CaseWhen expr
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/predicates.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/SimplifyConditionalsInFilter.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/PushFoldableIntoBranchesSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/SimplifyConditionalsInFilterSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkOptimizer.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/WholeStageCodegenExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/basicPhysicalOperators.scala
Labels: SQL

#632 KE-42110 Upgrade snappy-java to 1.1.10.1
  pom.xml
Labels: BUILD

#634 KE-42126 allow decimal conversion accuracy loss
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
Labels: SQL

#637 KE-42126 allow decimal conversion accuracy loss
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
Labels: SQL

#638 KE-42144 & KE-42145 Fix vulnerabilities, upgrade tomcat-embed-core & netty
  external/kafka-0-10-sql/pom.xml
  external/kafka-0-10/pom.xml
  pom.xml
Labels: BUILD, STRUCTURED STREAMING

#639 KE-42110 & KE-42144 & KE-42145 Fix vulnerabilities batch
  external/kafka-0-10-sql/pom.xml
  external/kafka-0-10/pom.xml
  pom.xml
Labels: BUILD, STRUCTURED STREAMING
