Repository Kyligence/spark, pull requests merged in 2023-10, with the labels that each got.

#686 KE-42783 Fix vulnerability, Upgrade org.xerial.snappy:snappy-java to version 1.1.10.4
  pom.xml
Labels: BUILD

#685 KE-42783 Fix vulnerability, Upgrade org.xerial.snappy:snappy-java to version 1.1.10.4
  pom.xml
Labels: BUILD

#683 KE-42784 Fix vulnerability, Upgrade org.apache.avro:avro to version 1.11.3
  pom.xml
Labels: BUILD

#684 KE-42784 Fix vulnerability, Upgrade org.apache.avro:avro to version 1.11.3
  pom.xml
Labels: BUILD

#690 AL-8879 fix KubernetesExecutorBackend
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesExecutorBackend.scala
Labels: KUBERNETES

#696 minor fix ut
  sql/core/src/test/scala/org/apache/spark/sql/execution/adaptive/AdaptiveQueryExecSuite.scala
Labels: SQL

#691 AL-8998 Fix resizing for ArrayBuffer in scala-2.12
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExpressionSet.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/BigArrayBuffer.scala
Labels: SQL

#692 KE-42300 support split source partition
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreeNode.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/QueryExecution.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/split/SplitExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/split/SplitSourcePartition.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/SplitSourcePartitionSuite.scala
Labels: SQL

#694 KE-42300 support split source partition
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreeNode.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/QueryExecution.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/split/SplitExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/split/SplitSourcePartition.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/SplitSourcePartitionSuite.scala
Labels: SQL

#699 KE-42864 Fix vulnerability, upgrade tomcat-embed-core.version version…
  pom.xml
Labels: BUILD

#701 AL-8998 & KE-42864 [Cherry-pick] Release Spark GA for kylin 4.6.17.0
  pom.xml
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExpressionSet.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/BigArrayBuffer.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/adaptive/AdaptiveQueryExecSuite.scala
Labels: SQL, BUILD

#703 AL-8998 Fix resizing for ArrayBuffer in scala-2.12 (#691)
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExpressionSet.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/BigArrayBuffer.scala
Labels: SQL

#706 [SPARK-41958][CORE][3.3] Disallow arbitrary custom classpath with pro…
  core/src/main/scala/org/apache/spark/deploy/SparkSubmit.scala
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  docs/core-migration-guide.md
Labels: CORE, DOCS

#702 KE-42896 upgrade tomcat embed core version to 9.0.82
  pom.xml
Labels: BUILD
