Repository Kyligence/spark, pull requests merged in 2023-11, with the labels that each got.

#695 AL-8374 add api get task result by batch
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/protocol/BlockTransferMessage.java
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/protocol/FetchBlockSegment.java
  core/src/main/scala/org/apache/spark/SparkEnv.scala
  core/src/main/scala/org/apache/spark/executor/Executor.scala
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/main/scala/org/apache/spark/network/BlockTransferService.scala
  core/src/main/scala/org/apache/spark/network/netty/NettyBlockRpcServer.scala
  core/src/main/scala/org/apache/spark/rdd/RDD.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskResult.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskResultGetter.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskSchedulerImpl.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskSetManager.scala
  core/src/main/scala/org/apache/spark/serializer/IteratorSerializerUtils.scala
  core/src/main/scala/org/apache/spark/storage/BlockManager.scala
  core/src/main/scala/org/apache/spark/storage/DiskStore.scala
  core/src/main/scala/org/apache/spark/util/io/ChunkedByteBuffer.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskResultGetterSuite.scala
  core/src/test/scala/org/apache/spark/storage/PartiallySerializedBlockSuite.scala
  sql/core/src/main/java/org/apache/spark/sql/execution/SizeLimitingByteBufferUnsafeRowsConverter.scala
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkPlan.scala
Labels: CORE, SQL

#709 KE-42300[FOLLOWUP] fix incorrect data result
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/split/SplitExchangeExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/split/SplitExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/split/SplitSourcePartition.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/SplitSourcePartitionSuite.scala
Labels: SQL

#710 KE-42300[FOLLOWUP] fix incorrect data result
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/split/SplitExchangeExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/split/SplitExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/split/SplitSourcePartition.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/SplitSourcePartitionSuite.scala
Labels: SQL

#711 KE-42784 & KE-42783, Fix vulnerability, Upgrade org.xerial.snappy:snappy-java to version 1.1.10.4 and org.apache.avro:avro to version 1.11.3
  pom.xml
Labels: BUILD

#680 AL-8879 Fixed bug where the new executor gets expired tokens when the new executor registration time overlaps with the driver delegation token update time
  core/src/main/scala/org/apache/spark/executor/CoarseGrainedExecutorBackend.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedClusterMessage.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedSchedulerBackend.scala
Labels: CORE

#708 KE-42943 CDP 7.7.1 support hive client 3.1
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/operation/HiveCommandOperation.java
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/SparkSQLCLIDriver.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveClientImpl.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/IsolatedClientLoader.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/IsolatedClientLoaderTest.scala
Labels: SQL

#712 AL-9236 Replace guava ordering with guava32 code snippet to resolve p…
  core/src/main/java/org/apache/spark/util/collection/GuavaOrderingSnippet.java
  core/src/main/scala/org/apache/spark/util/collection/Utils.scala
Labels: CORE

#713 AL-9236 Replace guava ordering with guava32 code snippet to resolve p…
  core/src/main/java/org/apache/spark/util/collection/GuavaOrderingSnippet.java
  core/src/main/scala/org/apache/spark/util/collection/Utils.scala
Labels: CORE
