Repository Kyligence/spark, pull requests merged in 2023-03, with the labels that each got.

#599 [SPARK-39927][BUILD] Upgrade to Avro 1.11.1
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  docs/sql-data-sources-avro.md
  external/avro/src/main/scala/org/apache/spark/sql/avro/AvroOptions.scala
  external/avro/src/test/scala/org/apache/spark/sql/avro/AvroSuite.scala
  pom.xml
  project/SparkBuild.scala
Labels: SQL, BUILD, AVRO, DOCS

#596 KE-40948 Add rowGroup filters info
  core/src/main/scala/org/apache/spark/InternalAccumulator.scala
  core/src/main/scala/org/apache/spark/executor/InputMetrics.scala
  core/src/main/scala/org/apache/spark/executor/TaskMetrics.scala
  core/src/main/scala/org/apache/spark/scheduler/DAGScheduler.scala
  core/src/main/scala/org/apache/spark/scheduler/SparkListener.scala
  core/src/test/scala/org/apache/spark/util/JsonProtocolSuite.scala
  pom.xml
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFileFormat.scala
Labels: CORE, SQL, BUILD

#601 KE-40636 Fix spark history server leaves inprogress files forever
  core/src/main/scala/org/apache/spark/deploy/history/FsHistoryProvider.scala
  core/src/test/scala/org/apache/spark/deploy/history/FsHistoryProviderSuite.scala
Labels: CORE

#604 [SPARK-39927][BUILD] Upgrade to Avro 1.11.1
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  docs/sql-data-sources-avro.md
  external/avro/src/main/scala/org/apache/spark/sql/avro/AvroOptions.scala
  external/avro/src/test/scala/org/apache/spark/sql/avro/AvroSuite.scala
  pom.xml
  project/SparkBuild.scala
Labels: SQL, BUILD, AVRO, DOCS

#605 AL-8113 Upgrade netty-all to 4.1.89.Final & protobuf-java to 3.16.3
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  pom.xml
Labels: BUILD

#607 AL-8113 Upgrade netty-all to 4.1.89.Final & protobuf-java to 3.16.3
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  pom.xml
Labels: BUILD
