Repository Kyligence/spark, pull requests merged in 2024-04, with the labels that each got.

#737 AL-9614 Add switch conf for OptimizeOneRowJoin
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/subquery.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Labels: SQL

#741 KE-43671 use aliyun debian mirrors
  resource-managers/kubernetes/docker/src/main/dockerfiles/spark/Dockerfile
Labels: KUBERNETES

#742 KC-13542 downgrade libthrift for kc spark-shell
  pom.xml
Labels: BUILD

#743 revert KC-13542 downgrade libthrift for kc spark-shell
  pom.xml
Labels: BUILD

#745 remove soft affinity due to duplication in kap
  core/src/main/scala/org/apache/spark/scheduler/TaskSetManager.scala
  core/src/main/scala/org/apache/spark/softaffinity/ExecutorsListListener.scala
  core/src/main/scala/org/apache/spark/softaffinity/SoftAffinityConstants.scala
  core/src/main/scala/org/apache/spark/softaffinity/SoftAffinityManager.scala
  core/src/main/scala/org/apache/spark/softaffinity/SoftAffinityStrategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/FileScanRDDWithSoftAffinitySuite.scala
Labels: CORE, SQL

#748 Cherrypick for 4.6.25.0-GA [KE-43557][SPARK-33152][SQL] Improve the performance of constraint pr…
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/LogicalPlan.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/plans/ConstraintPropagationSuite.scala
Labels: SQL
