Repository Kyligence/spark, pull requests merged in 2024-10, with the labels that each got.

#782 AL-9942 Fix vulnerability, Upgrade org.apache.avro:avro to version 1.…
  pom.xml
Labels: BUILD

#783 cherrry pick from kyspark-3.2.x-4.x-qa
  docs/building-spark.md
  docs/sql-data-sources-hive-tables.md
  docs/sql-migration-guide.md
  pom.xml
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/thrift/ThriftBinaryCLIService.java
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveUtils.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/package.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/HiveExternalCatalogVersionsSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/HiveSparkSubmitSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveQuerySuite.scala
Labels: SQL, BUILD, DOCS

#784 cherrry pick from kyspark-3.2.x-4.x-qa-bak
  docs/building-spark.md
  docs/sql-data-sources-hive-tables.md
  docs/sql-migration-guide.md
  pom.xml
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/thrift/ThriftBinaryCLIService.java
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveUtils.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/package.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/HiveExternalCatalogVersionsSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/HiveSparkSubmitSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveQuerySuite.scala
Labels: SQL, BUILD, DOCS

#786 KE-44348 fix broadcast clean
  core/src/main/scala/org/apache/spark/SparkContext.scala
  core/src/main/scala/org/apache/spark/broadcast/BroadcastManager.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SQLExecution.scala
Labels: CORE, SQL
